 <!-- About Section -->
    <section class="success" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Annoyed at your poor performance on regular dating apps? Are you one of those folks who blame their lack of success with the opposite gender on the fact that they are « just not photogenic, yo »? Well, we’ve got just what you need!</p>
                </div>
                <div class="col-lg-4">
                    <p>Introducing blindr, the geolocation-based, anonymous meetup app! blindr drops you in a chatroom populated with the brightest folks in town, while remaining anonymous! blindr allows chatees to « show interest » in one another, matching them personally, revealing their identity. This type of interaction will help you get through your blatant social anxiety and perhaps eventually, meet your soul-mate!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center" style="font-size:20px">
                  <ul>
                    <li>Entirely anonymous!</li>
                    <li>Awkward-free!</li>
                    <li>No social interaction required!</li>
                    <li>FREE!</li>
                  </ul>
                </div>
            </div>
        </div>
    </section>