
    <!-- Portfolio Grid Section -->
    <section id="preview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Preview</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="container">
              <div class="row row-centered">
                <div class="col-centered">
                  <iframe height="600" style="width: 100%; max-width: 400px" src="https://www.youtube.com/embed/8LqSb_sDDJU" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
        </div>
    </section>
