
    <!-- Portfolio Grid Section -->
    <section id="preview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Preview</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="container">
              <div class="row row-centered">
                <div class="col-centered">
                  <img class=".img-centered" style="max-width: 100%" src="/blindr/img/nexus.png"/>
                </div>
              </div>
            </div>
        </div>
    </section>
